:root[data-theme='light']  {
  --pst-color-primary: #0072b5;
  --pst-color-secondary: #febc15;
  --pst-color-link: #0072b5;
  --pst-color-inline-code: #0072b5;
  --sd-color-card-border-hover: #0072b5;

  dt:not(.casm-part) {
    background-color: #eaeaea;
  }

}

:root[data-theme='dark'] {
  --pst-color-primary: #6DC8BF;
  --pst-color-secondary: #CBDB2A;
  --pst-color-link: #6DC8BF;
  --pst-color-inline-code: #6DC8BF;
  --sd-color-card-border-hover: #6DC8BF;

  dt:not(.casm-part) {
    background-color: #6A4729F7;
  }

  /* note */
  .admonition.note > .admonition-title::before, div.admonition.note > .admonition-title::before {
    background-color: #8739b3;
  }

  .admonition.note > .admonition-title::after, div.admonition.note > .admonition-title::after {
    color: #c695c5;
    content: var(--pst-icon-admonition-note);
  }

  .admonition.note, div.admonition.note {
    border-color: #c695c5;
  }

  /* deprecated */
  --pst-color-danger: #f9e1e4;
  --pst-color-danger-bg: #d72d47;
}

div.tag_scroll div.output.stream {
  max-height: 20em; /* You can adjust this value as needed */
  overflow-y: auto;
  overflow-x: auto;
}


/*!* Fix breadcrumb overlap https://github.com/holoviz/panel/issues/5199 *!*/
/*.header-article__inner .header-article-item {*/
/*  height: unset;*/
/*}*/

/*!* Homepage Showcase *!*/

/*.showcase-table {*/
/*  border-spacing: 15px;*/
/*}*/

/*.showcase-table td {*/
/*  border: 0px;*/
/*  vertical-align: top;*/
/*}*/

/*!* Homepage sponsors *!*/

/*.sd-card-body.sponsor-logo {*/
/*  flex-grow: unset;*/
/*  margin: auto;*/
/*}*/

/*.sponsor-logo img {*/
/*  min-height: 80px;*/
/*  object-fit: contain;*/
/*}*/

