<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bokeh App</title>
        {{ resources.render_js() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">  </head>
<body>
    <div id="logo-container">
        <img src="{{ logo_path }}" alt="Logo" width="200">
    </div>

    <div id="bokeh-container">
        {{ bokeh_div|safe }}
        {{ bokeh_script|safe }}
    </div>

    <div>
        {{ embed(roots.hello_bokeh) }}
    </div>

</body>
</html>